<% layout("layouts/boilerplate") %>

<div class="row">
  <h1 class="text-center">キャンプ場の編集</h1>
  <div class="offset-3 col-6">
    <form action="/campgrounds/<%= campground._id %>?_method=put" method="post" novalidate class="validated-form" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="title" class="form-label">タイトル</label>
        <input type="text" name="campground[title]" id="title" placeholder="タイトル" class="form-control" value="<%= campground.title %>" required />
        <!--  name="campground[title]"はcampgroundの中のtitle -->
        <div class="valid-feedback">OK!</div>
      </div>
      <div class="mb-3">
        <label for="location" class="form-label">場所</label>
        <input type="text" name="campground[location]" id="location" placeholder="場所" class="form-control" value="<%= campground.location %>" required />
        <div class="valid-feedback">OK!</div>
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">価格</label>
        <div class="input-group">
          <span class="input-group-text" id="price-label">￥</span>
          <input type="text" id="price" class="form-control" placeholder="0" aria-label="価格" aria-describedby="price-label" name="campground[price]" value="<%= campground.price %>" required />
          <div class="valid-feedback">OK!</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">紹介</label>
        <textarea name="campground[description]" id="description" placeholder="description" class="form-control" required><%= campground.description %></textarea>
        <div class="valid-feedback">OK!</div>
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">画像のアップロード</label>
        <input class="form-control" type="file" name="image" id="image" multiple />
        <div class="valid-feedback">OK!</div>
      </div>
      <div class="mb-3">
        <% campground.images.forEach(function(img,i){ %>
        <img src="<%= img.url %>" class="img-thumbnail" />
        <div class="form-check-inline">
          <input type="checkbox" name="deleteImages[]" id="image-<%= i %>" value="<%= img.filename %>"> <!-- 大かっこのが複数来たらexpressがかってに配列としてやってくれる -->
        </div>
        <label for="image-<%= i %>">削除する</label>
        <% }) %>
      </div>
      <div class="mb-3">
        <button class="btn btn-info">更新する</button>
      </div>
    </form>
    <a href="/campgrounds">一覧にもどる</a>
  </div>
</div>
